@import "tailwindcss";
@import "tw-animate-css";

@supports (-webkit-touch-callout: none) {
  .no-ios-zoom {
    transform: none !important;
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* google font for font mona */
@theme {
  --font-mona: "Mona Sans", sans-serif;
}

/* Hide number input arrows (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

/* phone number validation */
.react-tel-input .form-control {
  height: 20px !important;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Dropdown container */
.phone-dropdown {
  border-radius: 12px !important;
  padding: 6px 0;
}

/* Each country row */
.phone-dropdown .country {
  display: flex !important;
  align-items: center;
  gap: 6px;
  padding: 8px 12px !important;
  white-space: nowrap;
}

/* Flag */
.phone-dropdown .country .flag {
  margin-right: 6px;
  flex-shrink: 0;
}

/* Country name */
.phone-dropdown .country .country-name {
  /* flex: 1; */
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

/* Dial code */
.phone-dropdown .country .dial-code {
  font-size: 13px;
  color: #616161;
  /* margin-left: auto; */
}

.phone-search input {
  border-radius: 8px !important;
  padding: 10px 10px 10px 10px !important;
  font-size: 14px;
  margin-right: 20px !important;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
}

/* For PDF content alignment */
@media print {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Mona Sans", Arial, sans-serif;
  }

  .pdf-content {
    max-width: 64rem;
    margin: 0 auto;
  }
}

/* used this for removing the extra spaces from the TermConditionWeb & PrivacyPolicyWeb page start */

span p br {
  display: none;
}

/* used this for removing the extra spaces from the TermConditionWeb & PrivacyPolicyWeb page end */

/* terms condition page start  */
.privacy-policy-page {
  padding: 74px 0 0;
  font-family: "Mona Sans", Arial, sans-serif;

  h1 {
    text-align: center;
    text-transform: uppercase;
    /* border-bottom: 1px solid; */
    margin: 0 0 20px;
  }
  h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3,
  h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  table {
    width: 100%;
    margin: 0 0 20px;
    th {
      background: #00bcd4;
      padding: 10px 25px;
      font-size: 16px;
      line-height: 26px;
      border: 1px solid #fff;
      color: #fff;
      white-space: nowrap;
    }
    td {
      padding: 10px 25px;
      border: 1px solid #00bcd4;
      cursor: pointer;
      font-size: 16px;
      line-height: 26px;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 22px;
    a {
      color: #000;
      text-decoration: underline;
    }
    b {
      text-transform: uppercase;
    }
  }
}
